h1 {
    text
}

form {
    width: 300px;
    background: white;
    padding: 20px;
    margin: auto;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 30px;
    margin-top: 200px;
}

input, textarea {
    width: 100%;
    border: 1px solid black;
    border-radius: 3px;
    justify-content: center;
    align-items: center
}

.button {
    margin-top: 10px;
    width: 100%;
    padding: 5px;
    background: lightblue;
    border: 1px solid black;
    font-family: Arial;
}

.skemer{
    margin: auto;
    display: flex;
    justify-content: center;
}

label{
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}



