.style{
    border-color:black
}

.style1{
    border: 2px solid; border-color:green
}

.style2{
    border: 2px solid; border-color:blue
}

.style3{
    border: 2px solid; border-color:red
}

.style4{
    border: 2px solid; border-color:yellow
}