p{
    background-color: deeppink;
    border: 6px solid; 
    border-color: purple;
    margin: 60px 50px 150px 50px
}

.nadpis{
    font-family: monospace;
    font-size: xx-large;
}

.druhyOd{
    text-align: center;
    padding: 20px;
    margin-bottom: 12px
}

.zoznam{
    border: 6px solid;
    border-color: white;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px
}

table{
    background-color: white;
    border: 2px solid black;
    border-collapse: collapse;
}

td,th,tr{
    border:2px solid black;
    border-collapse: collapse;
}