p{background-color: white;
  border:2px solid black}

.prvyOdsek{
    border:2px solid;
    padding: 20px;
    margin: 20px;
}


#riadok2{
    border: 2px dashed
    blue;
    padding: 5px;
    margin: 15px;
    background-color:lightgray;
}

.tretiOdsek{
    padding: 20px;
    margin: 0px
}

.stvrtyOdsek{
    padding: 40px;
    margin: 20px;
}

.poslednyOdsek{
    padding: 20px;
    margin: 50px
}