p{
    background-color: red;
    border: 2px dashed black;
}



.stylTextu1{
    background-color: blue;
    padding: 100px 30px 40px 30px;
    margin: 100px 30px 40px 30px;
}


#skuska{
    background-color: yellow;
}



